<link href="~/Content/ChatStyles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/CompanyListings/CompanyListingsFunctions.js"></script>

<h2 id="CompanyNameDisplay">@ViewBag.CompanyName</h2>
<section class="container">
    <div class="row">
        <div class="col-sm-6"

        <p>Email: @ViewBag.CompanyInfo.email</p>

        <p>Phone Number: @ViewBag.CompanyInfo.phoneNumber</p>

        <p>@ViewBag.CompanyName can be found at these locations:</p>
        @foreach(string location in ViewBag.CompanyInfo.locations)
        {
            <p style="padding-left:4em;">@location</p>
        }
        </div>
        <div class="col-sm-6" style="background-color: lightgray;">
            <h3>@ViewBag.CompanyInfo.locations[0]</h3>
            <p style="text-indent: 30px;">@ViewBag.WeatherData.weatherText</p>
            <figure class="col-sm-3">
                <img src="@Url.Content("~\\Icons\\" + @ViewBag.WeatherData.iconNum + "\\icon.png")">

            </figure>
            <p class="col-sm-3" style="font-weight: bold; font-size: 20px; font-family: Arial, Verdana, 'Times New Roman'">@ViewBag.WeatherData.temp @ViewBag.WeatherData.tempUnit</p>
            
        </div>                
    </div>
    <div class="row">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6" style="background-color: lightgray;">
            <p style="text-indent: 30px;">Feels like: Information Not Available.</p>
        </div>
    </div>
</section>

<div style="height:100px">
    <h4>Start a conversation with @ViewBag.CompanyName</h4>
    <div style="width:400px; float:left">
        <textarea class="messagetextarea" id="textUserMessage" placeholder="Enter your message here." rows="3"></textarea>
    </div>
    <div style="float:left">
        <button class="sendbutton" id="SendMessageButton">Send</button>
    </div>
</div>

<div>
    <h4>@ViewBag.CompanyName Reviews:</h4>
    @if (ViewBag.Reviewlist != null)
    {
        if (ViewBag.Reviewlist.Count == 0)
        {
            <p>This company does not have any reviews. Be the first!</p>
        }
        else
        {
            <p style="font-size:larger">Results:</p> <br />
            foreach (var item in ViewBag.Reviewlist)
            {
                //@Html.ActionLink(item, "DisplayCompany/" + item, "CompanyListings")
                //TODO add this stuff when list structure is known
                <p>Username: @item.username</p>
                <p>Stars: @item.stars</p>
                <p>Review: @item.review</p>
                <p>Timestamp: @item.timestamp</p>
                <br />
            }
        }
    }
</div>
<div>
    <h4>Leave a review for @ViewBag.CompanyName</h4>
    @using (Html.BeginForm("Review", "CompanyListings"))
    {
        <div class="form-group">
            <label>Company Review</label>
            @Html.TextBox("companyReview")
        </div>
        <div class="form-group">
            <label>Stars</label>
            @Html.TextBox("companyStars")
        </div>
        <input type="submit" value="Review" />
    }
</div>
<br /><br />
