<!--
    This is the html page that opens when a user navigates
    to the create an account page
-->

<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@{
    ViewBag.Title = "CreateAccount";
}

<h2>@ViewBag.Title</h2>

<!-- The remainder of this file is to be completed by students in milestone 2 -->

@using Messages.DataTypes

@using (Html.BeginForm("CreationConfirmationPage", "Authentication", FormMethod.Get,
    new { id = "accountCreationForm", onsubmit = "return validateCreationForm()" }))
{
<table>
    <tr>
        <td>Username:</td>
        <td>@Html.TextBox("username")</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Html.TextBox("email")</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>@Html.Password("password")</td>
    </tr>
    <tr>
        <td>Confirm Password:</td>
        <td>@Html.Password("confirmPassword")</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>@Html.TextBox("address")</td>
    </tr>
    <tr>
        <td>User Type:</td>
        <td>@Html.DropDownList("users", new SelectList(Enum.GetValues(typeof(AccountType))), "Select Type")</td>
    </tr>

</table>

    <br />
    <input type="submit" value="Create Account" />
    <br />
    <p>@ViewBag.CreationMessage</p>
    <br />

}

